.home {
  display: flex;
  position: relative;
}

.sideBar {
  flex-basis: 30%;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .sideBar {
    flex-basis: auto; /* Adjust the width as needed */
  }
}
