.loaderContainer {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-image: linear-gradient(
    to top right,
    var(--color-dark--0),
    var(--color-dark--1)
  );
  display: grid;
  place-content: center;
  color: #fff;
}

.loader {
  width: 4rem;
  min-height: 4rem;
  border: 0.6rem solid var(--color-brand--2);
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 0.8s infinite alternate;
  margin: auto 0;
  margin: 30vh 7.5vw;
}

@keyframes spinner {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
